.user-grid-container {
  display: grid;
  gap: 24px;
  
  grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 768px) {
  .user-grid-container {
    grid-template-columns: 1fr;
  }
}


.action-icon-btn {
  flex: 1;
  background: none;
  border: none;
  cursor: pointer;
  padding: 12px 10px;
  font-size: 1.2rem;
  color: #777;
}

.action-icon-btn.liked {
  color: #ff0000; 
}

.action-icon-btn:hover {
  background-color: #f0f0f0;
}

.action-divider {
  width: 1px;
  background-color: #eee;
}